<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <title>CHU Fès</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Connexion</label>
      <label for="signup" class="slide signup">Inscription</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <form class="login">
        <div class="field">
          <input type="text" placeholder="Adresse e-mail" required>
        </div>
        <div class="field">
          <input type="password" placeholder="Mot de passe" required>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Connexion">
        </div>
        <div class="signup-link">Pas encore membre ? <a href="#">Inscrivez-vous maintenant</a></div>
      </form>
      <form action="/signup" method="post" class="signup" th:object="${user}">
        <div class="field">
          <input type="text" name="nom" th:field="*{nom}" placeholder="Nom">
        </div>
        <div class="field">
          <input type="text" name="prenom" th:field="*{prenom}" placeholder="Prenom" required>
        </div>
        <div class="field">
          <input type="text" name="email" th:field="*{email}" placeholder="Adresse e-mail" required>
        </div>
        <div class="field">
          <input type="password" name="password" th:field="*{password}" placeholder="Mot de passe" required>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Inscription">
        </div>
      </form>
    </div>
  </div>
</div>
  <script  src="/js/script.js"></script>
</body>
</html>
